body,
html, 
.body {
  background: #f3f3f3 !important;
  background-color: #f3f3f3 !important;
}


.container {
    
    .columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

.perks {
    background: #e7f6e7;
    background-color: #e7f6e7;
    margin-bottom: 100px;
    
    
    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .mail {
        margin-bottom: 40px;

    }
    
    .swirl {
        position: absolute;
    }

    p {
        line-height: 22px;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        color: rgb(80, 77, 77);
        font-weight: 400;
        margin-bottom: 25px;
    }

    a {
        display: block;
        margin: 0 auto;
        width: 150px;
        text-align: center;
        background: #018401;
        background-color: #018401;
        padding: 15px 40px;
        color: #fff;
        font-weight: 600;

    }

}

.health {
    margin-bottom: 15px;
    width: 80% !important;
    display: block;
    margin: 0 auto;
  
    h4 {
        font-weight: 600;
        font-size: 20px;
        margin-left: 0;
        margin-top: 25px;
        width: 90% !important;
        display: block;
        margin: 0 auto;
       
        margin-bottom: 15px;
        margin-top: 20px;
    }


    img {
        width: 180px;
        margin: 0;
    
    }

    p {
        line-height: 22px;
        margin-bottom: 20px;
        display: block;
        margin: 0 auto;
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 10px;

    }

    .heading-text {
        width: 90% !important;

    }

    span {
        color: #018401;
        font-weight: 600;

    }

}

.financial {
    background: #fff6df;
    background-color: #fff6df;
    

    img {
        width: 80%;
        margin: 0;
        margin-left: 50px;
        margin-top: 40px;

    }
    
    h4 {
        
        margin-top: 65px !important;
        font-weight: 600;
        font-size: 20px;
        margin-left: 38px;
        margin-top: 25px;
        

    }

    p {
        line-height: 22px;
        width: 80% !important;
        display: block;
        margin: 0 auto;
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    span {
        color: #018401;
        font-weight: 600;

    }

}

.discount {
    margin-top: 40px;

    img {
        width: 80%;
        margin: 0;
        margin-left: 50px;
        margin-top: 40px;

    }
    
    h4 {
        margin-top: 65px !important;
        font-weight: 600;
        font-size: 20px;
        margin-left: 38px;
        margin-top: 25px;

    }

    p {
        line-height: 22px;
        font-size: 14px;
        width: 80% !important;
        display: block;
        margin: 0 auto;
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 10px;

        span {
            color: #018401;
            font-weight: 600;

        }

      
    }
    

    .discount-text {
        margin-top: 15px;

        p {
            margin-left: 20px;
            padding-bottom: 10px;
            text-align: left;
            width: 80% !important;
            display: block;
            margin: 0 auto;
            font-size: 14px;
            margin-bottom: 15px;
            margin-top: 10px;

          
        }

        .dates {
            padding-bottom: 0 !important; 
            margin-bottom: 5px !important;
        }

        .upside {
            margin-top: 20px;

        }

        a {
            display: block;
            margin: 0 auto;
            width: 150px;
            text-align: center;
            background: #018401;
            background-color: #018401;
            padding: 15px 40px;
            color: #fff;
            font-weight: 600;
    
        }

    }
}

.footer {

    .footer-logo {
        width: 50px;
        display: block;
        margin: 0 auto;
        margin-top: 55px;
      
    }

    .footer-stores {
       margin-top: 30px;
        
       img {
           width: 80%;
           display: block;
           margin: 0 auto;
       }

       }

    a {
        padding-right: 20px !important;
        font-size: 14px;
        color: #018401;
        font-weight: 600;

    }

    .footer-text {
        display: block;
        margin: 0 auto;
        width: 95%;
        
        p {
            text-align: center;
            font-size: 14px;

            span {
                color: #018401;
                font-weight: 600;
            }
        }

    }

    }


